<div class="row jumbotron jumbotron-fluid">
  <div class="col-md-12">
    <div class="row form-group">
      <div class="col-md-6">
        <h2>
          Search own licenses:
        </h2>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-2">
        <a routerLink="/license/create" class="login100-form-btn">
          New license
        </a>
      </div>
    </div>
    <hr />
    <form class="row" (ngSubmit)="submit()" [formGroup]="searchForm">
      <div class="col-md-6">
        <div class="row form-group">
          <!-- Text input-->
          <div class="col-md-2 control-label">Name</div>
          <div class="col-md-10">
            <input class="form-control" formControlName="name" type="text" placeholder="Music name">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row form-group">
          <!-- Text input-->
          <div class="col-md-2 control-label">Sorting</div>
          <div class="col-md-10">
            <select class="form-control" formControlName="orderMethod">
              <option [value]="'CreatedOnDesc'" default>Time: newly music first</option>
              <option [value]="'CreatedOnAsc'">Time: oldly music first</option>
              <option [value]="'NameAsc'">Name: A-Z</option>
              <option [value]="'NameDesc'">Name: Z-A</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-10">

      </div>
      <div class="col-md-2">
        <button [disabled]="searchForm.invalid" type="submit"
                class="login100-form-btn">
          Search
        </button>
      </div>
    </form>
  </div>
</div>

<app-license-list-template [licenses]="licensePagination.licenses" [type]="'own'">

</app-license-list-template>

