table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:hover {
  background-color: #ddd;
}

table th:nth-child(odd) {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-image: linear-gradient(to right, #2457d7, #3b125d);
  color: white;
}

table th:nth-child(even) {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-image: linear-gradient(to left, #2457d7, #3b125d);
  color: white;
}

table .table-operation-coll {
  padding:0px;
}
