<div class="player-stage">
  <img src="{{'../../../../../assets/resources/song/images/' + song.imageFilePath}}" class="img" alt="" />
  <audio controls class="play-song" id="player">
  </audio>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <h3>{{song.name}}</h3>
    <small>Category: {{song.categoryName}}</small>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <p>{{song.createdOn | date : 'MMMM d, yyyy'}}</p>
  </div>

  <button class="col-md-2 btn add-to-playlist-bnt main-song-information login100-form-btn" (click)="openAddToSong()" *ngIf="isAuth">
    + Add to
  </button>

  <app-song-reaction [song]="song" class="col-md-3 main-song-information"></app-song-reaction>
</div>
<hr />

<div class="row">
  <div class="col-md-2">
    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="avatar" alt="" />
  </div>
 
  <div class="col-md-9">
    <div class="row">
      <h3 class="col-md-7">
        <a routerLink="{{'/profile/view/' + song.user?.id}}" class="row ">
          <br />
          {{song.user.userName}}
        </a>
      </h3>
      <app-followed-create class="col-md-5" [userId]="song.user?.id"></app-followed-create>
    </div>
    <br>
    <p>
      {{song.text}}
    </p>
  </div>
</div>
<hr />
<app-comment-list [songId]="song.id" class="col-md-12"></app-comment-list>
