<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Edit category</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form (ngSubmit)="OnSubmit()" [formGroup]="categoryForm">

  <div class="modal-body">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" formControlName="name" type="text" placeholder="Category name">
      <span class="text-danger" *ngIf="name.touched && name.hasError('required')">The name is required!</span>
      <span class="text-danger" *ngIf="name.hasError('minlength')">
        Category name must contain {{nameMinLength}} characters!
      </span>
      <span class="text-danger" *ngIf="name.hasError('maxlength')">
        Category name must be at most {{nameMinLength}} characters!
      </span>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">No</button>
    <button [disabled]="categoryForm.invalid" type="submit" class="btn btn-danger">Yes</button>
  </div>
</form>

