<div class="row" *ngIf="!isSetEmail">
  <div class="col-xl-3">
  </div>
  <div class="col-xl-6 ">
    <div class="wrap-login100">
      <form (ngSubmit)="setUser()" [formGroup]="emailForm" class="login100-form validate-form p-l-55 p-r-55 p-t-178">
        <a class="form-title-left form-title-active" routerLink="/forgottenPassword">
          Forgot password
        </a>
        <a class="form-title-rigth">
        </a>
        <div class="Wrong-Credentials alert alert-danger" *ngIf="wrongEmail">Invalid email!</div>
        <div class="Wrong-Credentials alert alert-danger" *ngIf="wrongSendEmail">Err: Sending email!</div>
        
        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter email">
          <input class="input100" type="text" name="email" placeholder="Email" formControlName="email">
          <div class="form-label text-danger text-right" *ngIf="email.touched && email.hasError('required')">
            The email is required!
          </div>
          <div class="form-label text-danger text-right" *ngIf="email.touched && email.hasError('email')">
            Enter currect email address!
          </div>
        </div>
        <div class="container-login100-form-btn">
          <button [disabled]="emailForm.invalid" type="submit" class="login100-form-btn">Send code</button>
        </div>
        <div class="flex-col-c p-t-20 p-b-40">
          <span class="txt1 p-b-9">
            Don’t have an account?
          </span>
          <a href="#" class="txt3">
            Sign up now
          </a>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="row" *ngIf="isSetEmail">
  <div class="col-xl-3">
  </div>
  <div class="col-xl-6 ">
    <div class="wrap-login100">
      <form (ngSubmit)="changePassword()" [formGroup]="changePasswordForm" class="login100-form validate-form p-l-55 p-r-55 p-t-178">
        <a class="form-title-left form-title-active" routerLink="/forgottenPassword">
          Forgot password
        </a>
        <a class="form-title-rigth">
        </a>
        <div class="Wrong-Credentials alert alert-danger" *ngIf="wrongCreateCode">Invalid verification code!</div>
        <div class="Wrong-Credentials alert alert-danger" *ngIf="wrongChangePassword">Err: changing password!</div>

        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter email verification code">
          <input class="input100" type="text" name="code" placeholder="Verification code" formControlName="code">
          <div class="form-label text-danger text-right" *ngIf="code.touched && code.hasError('required')">
            Verification code is required!
          </div>
        </div>

        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter password">
          <input class="input100" type="password" name="password" placeholder="New password" formControlName="password">
          <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
            <div *ngIf="confirmPassword.errors.required">Confirm password is required.</div>
            <div *ngIf="confirmPassword.errors.confirmedValidator">Password and Confirm Password must be match.</div>
          </div>
        </div>

        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter confirm password">
          <input class="input100" type="password" name="Confirm password" placeholder="Confirm new password" formControlName="password">
          <div class="form-label text-danger text-right" *ngIf="confirmPassword.touched && confirmPassword.hasError('required')">
            Confirm new password is required!
          </div>
        </div>

        <div class="flex-col-c p-t-20 p-b-40">
          <span class="txt1 p-b-9">
            Don’t see message?
          </span>
          <span (click)="sendEmail()">
            Resend mail
          </span>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="container-login100-form-btn">
              <button type="submit" class="login100-form-btn" (click)="resetEmail()">Change email</button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="container-login100-form-btn">
              <button [disabled]="changePasswordForm.invalid" type="submit" class="login100-form-btn">Change password</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


