<form (ngSubmit)="formHandler()" [formGroup]="commentForm" class="row" *ngIf="isAuth">
  <div class="form-group col-md-12">
    <div class="row">
      <div class=" col-md-12">
        <textarea class="form-control" formControlName="text" type="text" rows="5"
                  placeholder="White your commment here"></textarea>
        <span class="text-danger" *ngIf="text.touched && text.hasError('required')">The comment is required!</span>
        <span class="text-danger" *ngIf="text.hasError('minlength')">The comment must contain minimum {{commentMinLength}} characters!</span>
        <span class="text-danger" *ngIf="text.hasError('maxlength')">The comment must contain maximum {{commentMaxLength}} characters!</span>
      </div>
    </div>
    <div class="row">
      <div class=" col-md-9">
      </div>

      <div class="col-md-3">
        <br>
        <button [disabled]="commentForm.invalid" type="submit" class="login100-form-btn">Comment</button>
      </div>
    </div>
  </div>
</form>
